@font-face {
  font-family: "Saira Stencil One";
  src: url("../fonts/SairaStencilOne-Regular.ttf");
}

/* .saira-stencil-one-regular {
  font-family: "Saira Stencil One", sans-serif;
  font-weight: 400;
  font-style: normal;
} */

* {
  margin: 0;
  padding: 0;
}

h1, button, p {
  font-family: "Saira Stencil One", sans-serif;
}

body {
  background-image: url(../backgrounds/home-background.png);
}

nav {
  padding: 0px;
  margin: auto;
  
}

.nav-container {
  display: flex;
  justify-content: center;
  height: 90px;
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}

nav ul li {
  margin: 10px 15px;
  text-align: center;
}

nav button {
  font-size: 13px;
  color: #CA5331;
  background-color: #F4E5D2;
  border: solid 3px #CA5331;
  border-radius: 10px;
  box-shadow: 0px 4px 0px;
  cursor: pointer;
  transition: background-color 0.15s;
}

nav button:hover{
  background-color: #F1F2F3;
}

nav button:active{
  transform: translateY(4px);
  box-shadow: none;
}

.left-nav {
  padding: 4px 25px;
}

.right-nav {
  padding: 4px 20px;
}

.logo {
  color: #CA5331;
  font-size: 40px;
  font-weight: 300;
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  transition: opacity 0.15s;
}

.logo:hover {
  opacity: 0.9;
}

.logo:active {
  opacity: 0.8;
}

.hero-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.column-left {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-left: 150px;
  margin-top: 20px;
}

.column-left img {
  max-width: 100%;
  cursor: pointer;
  transition: transform 0.2s;
}

.column-left img:hover{
  transform: translateY(-20px);
}

.column-left img:active{
  opacity: 0.8;
}

.column-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 300px;
  margin-right: 200px;
  font-size: 40px;
  margin-top: 10px;
}

.column-right h1{
  line-height: 6rem;
  color: #F1F2F3;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #CA5331;
  text-shadow: 0px 8px 0px #CA5331;
  letter-spacing: -2px;
}

.column-right p {
  margin-top: 25px;
  line-height: 2.2rem;
  color: #CA5331;
  font-size: 25px;
  width: 250px;
}

.column-right button {
  padding: 10px 25px;
  margin-top: 25px;
  font-size: large;
  color: #F4E5D2;
  background-color: #CA5331;
  border: solid 3px#EABA7F;
  border-radius: 10px;
  box-shadow: 0px 8px 0px #EABA7F;
  cursor: pointer;
  transition: background-color 0.15s;
}

.column-right button:hover {
  background-color: brown;
}

.column-right button:active {
  transform: translateY(8px);
  box-shadow: none;
}